@page "/about"

<h3>About</h3>

<p>This demo app uses Azure OpenAI to summarize English YouTube videos in 5 bullet points. Select your preferred output language from the Summary Language list.</p>

<p>The app is inspired by <a href="https://twitter.com/justinchronicle">Justin Yoo, Principal Cloud Advocate at Microsoft</a>, who presented <a href="https://learn.microsoft.com/en-us/shows/dotnetconf-2023/building-intelligent-applications-with-blazor-and-open-ai-service" target="_blank">Building intelligent applications with Blazor and Open AI Service </a>, at the <a href="https://learn.microsoft.com/en-us/shows/dotnetconf-2023/">2023 .NET Conference</a>. His idea allowed me to learn more about how to develop Azure OpenAI-based applications in Blazor.

    I hope you enjoy using this application!!
</p>
<br />
<p>Cheers, Peter De Tender - <a href="mailto:petender@microsoft.com?subject=I wanted to share my feedback on your YouTube Summarizer app..."> petender@microsoft.com</a> <b>|</b> <a href="https://twitter.com/pdtit">@@pdtit</a> <b>|</b> <a href="https://linkedin.com/in/pdtit">https://linkedin.com/in/pdtit</a></p>